
<div class="hex-container"
     title="@(SystemTile?.SystemTileName.ToString())">

    <img src="@ImagePath"
         style="transform: rotate(@(_degrees)deg);
                transition: transform 0.5s ease;"
         alt="Hexagon">

</div>
