@using TwilightImperiumUltimate.Web.Components.Shared.Layouts

<FlexColumnCenteredContainer>
    <div class="handel-cz white agenda-card-title @CssClass"
         style="margin-top: @(string.Concat(MarginTop, "px;"))
            overflow-wrap:break-word;
            font-size: @(string.Concat(FontSize, "px;"))
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;">
        <div>
            @Text?.ToUpperInvariant()
        </div>
    </div>
</FlexColumnCenteredContainer>