.container {
    display: grid;
    grid-template-columns: repeat(7, minmax(1px, auto));
    grid-template-rows: repeat(7, auto);
    grid-gap: 0px;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

    .container > :nth-child(7n+1) {
        transform: translate(75%, 50%);
    }

    .container > :nth-child(7n+2) {
        transform: translate(50%, 0%);
    }

    .container > :nth-child(7n+3) {
        transform: translate(25%, 50%);
    }

    .container > :nth-child(7n+5) {
        transform: translate(-25%, 50%);
    }

    .container > :nth-child(7n+6) {
        transform: translate(-50%, 0%);
    }

    .container > :nth-child(7n+7) {
        transform: translate(-75%, 50%);
    }

    .container > :nth-child(1),
    .container > :nth-child(2),
    .container > :nth-child(4),
    .container > :nth-child(6),
    .container > :nth-child(7),
    .container > :nth-child(8),
    .container > :nth-child(14),
    .container > :nth-child(18),
    .container > :nth-child(24),
    .container > :nth-child(26),
    .container > :nth-child(29),
    .container > :nth-child(35),
    .container > :nth-child(36),
    .container > :nth-child(42) {
        visibility: hidden;
    }

.hex {
    flex-shrink: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
