.milty-draft-slice {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.milty-draft-slice ::deep .slice-detail-card {
    flex: 1;
    height: 100%;
    overflow: visible;
}

.milty-draft-slice ::deep .slice-detail-card .slice-preview-archive {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: visible;
}
