<FlexColumnCenteredContainer>
    <div class="milty-draft-navbar">
        <FlexRowContainer Width="100" JustifyContent="Enums.JustifyContent.SpaceEvenly">
            <div class="clickable" style="min-width: 33%;" @onclick="() => OnMenuItemClick.InvokeAsync(MiltyDraftMenuItem.Draft)">
                <Label Text="@Strings.MiltyDraft_Draft" FontSize="28" CenterText="true" Style="font-size: 1rem;" />
            </div>
            <div class="clickable" style="width: 33%;" @onclick="() => OnMenuItemClick.InvokeAsync(MiltyDraftMenuItem.Map)">
                <Label Text="@Strings.MiltyDraft_DraftPreview" FontSize="28" CenterText="true" Style="font-size: 1rem;" />
            </div>
            <div class="clickable" style="width: 33%;" @onclick="() => OnMenuItemClick.InvokeAsync(MiltyDraftMenuItem.Settings)">
                <Label Text="@Strings.MiltyDraft_Settings" FontSize="28" CenterText="true" Style="font-size: 1rem;" />
            </div>
        </FlexRowContainer>
    </div>
</FlexColumnCenteredContainer>
