.label {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    margin: 0;
    padding: 0;
    display: block;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 0.0rem;
}

.red {
    color: red;
}

.green {
    color: lawngreen;
}

.white {
    color: white;
}

.yellow {
    color: yellow;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}

.purple {
    color: rebeccapurple;
}

.pink {
    color: magenta;
}

.darkgreen {
    color: green;
}

.grey {
    color: grey;
}

.transparent {
    color: transparent;
}

.unranked {
    color: white;
}

.minister {
    color: #3498db;
}

.agent {
    color: #206694;
}

.commander {
    color: #b2a8e4;
}

.hero {
    color: #816de6;
}

.galactic-threat {
    color: #e74c3c;
}

.pmbg {
    color: #f1c40f;
}

.underline {
    text-decoration: underline;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.invisible-text {
    visibility: hidden;
}