.label {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    margin: 0;
    padding: 0;
    display: block;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.red {
    color: red;
}

.green {
    color: lawngreen;
}

.white {
    color: white;
}

.yellow {
    color: yellow;
}

.blue {
    color: blue;
}
