<div class="label handel white shadow @(CssClass)"
     style="font-size:@(FontSize)px;
            max-width:@(MaxWidth)%;
            min-width:@(MinWidth)%;
            width:@(Width)%;
            @(CenterText ? "text-align: center;" : "");
            color:@(SetColor())">
    @Text
</div>
