@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Components.Shared.Text;

<FlexColumnCenter>
    <div class="@CssClass title white handel shadow"
         style="margin-top: @(string.Concat(MarginTop, "px;"))
            font-size: @(string.Concat(FontSize, "px;"))">

        @Text
    </div>
</FlexColumnCenter>

