@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Components.Shared.Text

<div class="news-article-segment">
    <div class="news-article-segment__texture" aria-hidden="true">
        <TitleTexture Width="100" Texture="Enums.Texture.TopLeft" />
    </div>

    <div class="news-article-segment__content">
        <ResponsiveVerticalSpacer Size="2xl" />

        <div class="article-title-line" aria-hidden="true">
            <TitleLine />
        </div>

        <FlexRowContainer JustifyContent="Enums.JustifyContent.FlexStart" Width="100" AlignItems="Enums.AlignItems.FlexStart">
            <div class="article-title handel-cz white shadow">
                @(NewsArticle.Title)
            </div>
        </FlexRowContainer>

        <div class="article-title-line" aria-hidden="true">
            <TitleLine />
        </div>

        <ResponsiveVerticalSpacer Size="2xl" />

        <FlexColumnCenteredContainer>
            <div class="white shadow handel markup-text">
                @(_markupString)
            </div>

            <ResponsiveVerticalSpacer Size="2xl" />

            <div class="article-meta width-100">
                <FlexRowContainer JustifyContent="Enums.JustifyContent.SpaceEvenly" CssClass="article-meta-row">
                    <FlexColumnCenteredContainer>
                        <div class="author width handel white shadow">
                            @(string.Concat(Strings.News_AuthorLabel, " ", NewsArticle.User?.UserName))
                        </div>
                    </FlexColumnCenteredContainer>

                    <FlexColumnCenteredContainer>
                        <div class="author width handel white shadow">
                            @(string.Concat(Strings.News_DateLabel, " ", FormattedCreatedAt))
                        </div>
                    </FlexColumnCenteredContainer>
                </FlexRowContainer>
            </div>

            <ResponsiveVerticalSpacer Size="2xl" />
        </FlexColumnCenteredContainer>
    </div>
</div>
