@using TwilightImperiumUltimate.Web.Components.Shared.Text
@using TwilightImperiumUltimate.Web.Resources
@using TwilightImperiumUltimate.Web.Services.MapGenerators
@using TwilightImperiumUltimate.Web.Services.Path
@inject IPathProvider PathProvider
@inject IMapGeneratorSettingsService MapGeneratorSettingsService

<div class="hex-menu">
    <Title Text="Filter:" FontSize="20" />
    <RadzenDropDown @bind-Value="_selectedSystemTileType"
                    Data="@_systemTileTypes"
                    Change="() => GetSystemTilesToShow()"
                    TextProperty="Value"
                    ValueProperty="Key"
                    Style="width: 100%; min-height: 40px;" />

    <div class="scrollbar-area">
        @foreach (var systemTile in SystemTiles)
        {
            <MapHexTile ImagePath="@(PathProvider.GetLargeTileImagePath(systemTile.Name.ToString()))"
                        SystemTileOverlay="@(MapGeneratorSettingsService.SystemTileOverlay)"
                        MapTileId="@(systemTile.Name.ToString().Substring(4))"
                        MapPosition="-1"
                        SystemTile="systemTile"
                        SwappedSystemTileFromMenu="RefreshSystemTilesMenu" />
        }
    </div>

</div>
