@using TwilightImperiumUltimate.Web.Components.Shared.Text
@using TwilightImperiumUltimate.Web.Resources
@using TwilightImperiumUltimate.Web.Services.Path
@inject IPathProvider PathProvider

<div class="hex-menu">

    <Title Text="Filter:" FontSize="20"/>
    <RadzenDropDown @bind-Value="_selectedSystemTileType"
        Data="@_systemTileTypes"
        Change="() => GetSystemTilesToShow()"
        TextProperty="Value"
        ValueProperty="Key"
        Style="width: 100%; min-height: 40px;" />

    @foreach (var hex in SystemTiles)
    {
        <MapHexTile ImagePath="@(PathProvider.GetLargeTileImagePath(hex.Name.ToString()))"
                    ShowTileId="true"
                    MapTileId="@(hex.Name.ToString().Substring(4))" />
    }

</div>
