@using TwilightImperiumUltimate.Web.Components.Shared.Text
@using TwilightImperiumUltimate.Web.Resources
@using TwilightImperiumUltimate.Web.Services.MapGenerators
@using TwilightImperiumUltimate.Web.Services.Path
@inject IPathProvider PathProvider
@inject IMapGeneratorSettingsService MapGeneratorSettingsService

<div class="hex-menu">

    <div class="clickable" @onclick="ToggleTileMenu">
        <Label Text="@GetButtonText()" FontSize="20" CenterText="true" />
    </div>

    @if (_showTileMenu)
    {
@*         <Title Text="Filter:" FontSize="20" /> *@
        <RadzenDropDown @bind-Value="_selectedSystemTileType"
            Data="@_systemTileTypes"
            Change="() => GetSystemTilesToShow()"
            TextProperty="Value"
            ValueProperty="Key"
            Style="width: 100%; min-height: 40px;"
            class="title handel radzen-dropdown" />

        <div class="scrollbar-area">
            @foreach (var systemTile in SystemTiles)
            {
                <MapHexTile SystemTile="systemTile"
                MapPosition="-1"
                SwappedSystemTileFromMenu="RefreshSystemTilesMenu" />
            }
        </div>
    }
</div>
