.hex-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -10%;
    top: 45%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 15%;
    max-height: 80%;
    min-height: 80%;
}

.scrollbar-area {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.scrollbar-area::-webkit-scrollbar {
    width: 12px;
}

.scrollbar-area::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-area::-webkit-scrollbar-thumb {
    background: #0024ff;
}

.scrollbar-area::-webkit-scrollbar-button {
    background-color: transparent;
    color: transparent;
}
