.hex-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -10%;
    top: 10%;
/*    transform: translateY(-30%);*/
    z-index: 1000;
    width: 15%;
    max-height: 40%;
    min-height: 40%;
}

.rz-dropdown-item {
    font-family: Handel, fallback, sans-serif !important;
}

.radzen-dropdown {
    font-family: Handel, fallback, sans-serif !important;
}

.scrollbar-area {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.scrollbar-area::-webkit-scrollbar {
    width: 12px;
}

.scrollbar-area::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-area::-webkit-scrollbar-thumb {
    background: #0024ff;
}

.scrollbar-area::-webkit-scrollbar-button {
    background-color: transparent;
    color: transparent;
}
