@using TwilightImperiumUltimate.Web.Components.MapGenerator.MapGrids
@using TwilightImperiumUltimate.Web.Components.MapGenerator
@using TwilightImperiumUltimate.Web.Components.Shared.Controls
@using TwilightImperiumUltimate.Web.Components.Shared.Layouts

<div class="map-generator-grid">

    <VerticalSpace Height="50" />

    <FlexRowContainer >
        <Button @onclick="GenerateMap" ButtonText="GenerateMap" />
        <Button @onclick="ToggleSettings" ButtonText="Settings" />
        <Button @onclick="ToggleTilesMenu" ButtonText="Show Tiles" />
    </FlexRowContainer>

    @if(_showSettings)
    {
        <MapGeneratorSettings 
            OnSelectedTemplateChange="UpdateMapTemplate"
            OnHideSettings="HideSettings" />
    }

    @if(_showTilesMenu)
    {
        <HexTileMenu />
    }

    <FlexColumnCenteredContainer>
        <div style="width: @(MapGeneratorSettingsService.MapScale)%">
            @if(MapGeneratorSettingsService.MapTemplate == MapTemplate.SmallMapThreePlayers
                || MapGeneratorSettingsService.MapTemplate == MapTemplate.SmallMapAlternateThreePlayers)
            {
                <SmallMap />
            }
            else if (MapGeneratorSettingsService.MapTemplate == MapTemplate.MediumMapFourPlayers
                || MapGeneratorSettingsService.MapTemplate == MapTemplate.MediumMapSixPlayers)
            {
                <MediumMap />
            }
            else if (MapGeneratorSettingsService.MapTemplate == MapTemplate.LargeMapSixPlayers
                || MapGeneratorSettingsService.MapTemplate == MapTemplate.LargeMapEightPlayers)
            {
                <LargeMap />
            }
            else if (MapGeneratorSettingsService.MapTemplate == MapTemplate.CustomMap)
            {
                <CustomMap />
            }
            else if (MapGeneratorSettingsService.MapTemplate == MapTemplate.TriangleMapThreePlayers)
            {
                <TriangleMap />
            }
            else if (MapGeneratorSettingsService.MapTemplate == MapTemplate.TriangleNarrowMapThreePlayers)
            {
                <TriangleNarrowMap />
            }
            else if(MapGeneratorSettingsService.MapTemplate == MapTemplate.SnowflakeMapThreePlayers)
            {
                <SnowflakeMap />
            }
            else if (MapGeneratorSettingsService.MapTemplate == MapTemplate.MantaRayMapThreePlayers)
            {
                <MantaRayMap />
            }
        </div>
    </FlexColumnCenteredContainer>
</div>

