@using TwilightImperiumUltimate.Web.Components.MapGenerator
@using TwilightImperiumUltimate.Web.Components.MapGenerator.MapGrids
@using TwilightImperiumUltimate.Web.Components.MapGenerator.MapGrids.Custom
@using TwilightImperiumUltimate.Web.Components.MapGenerator.MapGrids.EightPlayers
@using TwilightImperiumUltimate.Web.Components.MapGenerator.MapGrids.SixPlayers
@using TwilightImperiumUltimate.Web.Components.MapGenerator.MapGrids.ThreePlayers
@using TwilightImperiumUltimate.Web.Components.Shared.Controls
@using TwilightImperiumUltimate.Web.Components.Shared.Layouts

<div class="map-generator-grid">

    <VerticalSpace Height="50" />

    <FlexRowContainer >
        <Button @onclick="GenerateMap" ButtonText="GenerateMap" />
        <Button @onclick="ToggleSettings" ButtonText="Settings" />
        <Button @onclick="ToggleTilesMenu" ButtonText="Show Tiles" />
    </FlexRowContainer>

    @if(_showSettings)
    {
        <MapGeneratorSettings 
            OnSelectedTemplateChange="UpdateMapTemplate"
            OnHideSettings="HideSettings" />
    }

    @if(_showTilesMenu)
    {
        <HexTileMenu SwappedSystemTileFromMenu="Refresh" />
    }

    <FlexColumnCenteredContainer>

        <div style="width: @(MapGeneratorSettingsService.MapScale)%">
            @DynamicComponent
        </div>

    </FlexColumnCenteredContainer>

</div>

