@using TwilightImperiumUltimate.Web.Components.Factions
@using TwilightImperiumUltimate.Web.Components.MapGenerator
@using TwilightImperiumUltimate.Web.Components.MapGenerator.MapGrids
@using TwilightImperiumUltimate.Web.Components.MapGenerator.MapGrids.Custom
@using TwilightImperiumUltimate.Web.Components.MapGenerator.MapGrids.EightPlayers
@using TwilightImperiumUltimate.Web.Components.MapGenerator.MapGrids.SixPlayers
@using TwilightImperiumUltimate.Web.Components.MapGenerator.MapGrids.ThreePlayers
@using TwilightImperiumUltimate.Web.Components.Shared.Controls
@using TwilightImperiumUltimate.Web.Components.Shared.Layouts

<div class="map-generator-grid">

    <MapGeneratorMenu OnMenuItemClick="ChangeSegment"/>

    @if (_selectedSegment == MapGeneratorMenuItem.MapGenerator)
    {
        <HexTileMenu SwappedSystemTileFromMenu="Refresh" />

        <FlexColumnCenteredContainer>

            <VerticalSpace Height="20" />

            <Button @onclick="GenerateMap" ButtonText="@Strings.MapGenerator_GenerateMap" />

            <div style="width: @(MapGeneratorSettingsService.MapScale)%">
                @DynamicComponent
            </div>

        </FlexColumnCenteredContainer>
    }

    @if (_selectedSegment == MapGeneratorMenuItem.Settings)
    {
        <VerticalSpace Height="50" />

        <FactionIconRow ShowDiscordantStars="true" EnableBanMode="true" BanAllFactions="true" />

        <VerticalSpace Height="50" />

        <MapGeneratorSettings 
            OnSelectedTemplateChange="UpdateMapTemplate"
            OnSelectedSystemTileOverlayChange="UpdateMapOverlay" />
    }

</div>

