<FlexColumnCenteredContainer>
    <div class="map-generator-navbar">
        <FlexRowContainer Width="80" JustifyContent="Enums.JustifyContent.SpaceBetween">
            <div class="clickable" @onclick="() => OnMenuItemClick.InvokeAsync(MapGeneratorMenuItem.MapGenerator)">
                <Label Text="@Strings.MapGeneratorMenu_MapGenerator" FontSize="28" CenterText="true" />
            </div>
            <div class="clickable" @onclick="() => OnMenuItemClick.InvokeAsync(MapGeneratorMenuItem.Settings)">
                <Label Text="@Strings.MapGeneratorMenu_Settings" FontSize="28" CenterText="true" />
            </div>
            <div class="clickable" @onclick="() => OnMenuItemClick.InvokeAsync(MapGeneratorMenuItem.MapEvaluation)">
                <Label Text="@Strings.MapGeneratorMenu_SliceEvaluation" FontSize="28" CenterText="true" />
            </div>
        </FlexRowContainer>
    </div>
</FlexColumnCenteredContainer>