@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Services.Path

<div style="width:100%;">
    @foreach (var mapPosition in MapPositions)
    {
        if (GeneratedPositionsWithSystemTiles is not null && GeneratedPositionsWithSystemTiles.Keys.Any())
        {
            CurrentSystemTile = GeneratedPositionsWithSystemTiles[mapPosition];

            <div class="hex">
                <MapHexTile SystemTile="CurrentSystemTile" />
            </div>
        }
    }
</div>
