<FlexColumnCenteredContainer>
    <div class="map-generator-navbar">
        <FlexRowContainer Width="100" JustifyContent="Enums.JustifyContent.SpaceEvenly">
            <div class="clickable" style="min-width: 33%;" @onclick="() => OnMenuItemClick.InvokeAsync(MapGeneratorMenuItem.MapGenerator)">
                <Label Text="@Strings.MapGeneratorMenu_Map" FontSize="28" CenterText="true" />
            </div>
            <div class="clickable" style="width: 33%;" @onclick="() => OnMenuItemClick.InvokeAsync(MapGeneratorMenuItem.MapEvaluation)">
                <Label Text="@Strings.MapGeneratorMenu_Stats" FontSize="28" CenterText="true" />
            </div>
            <div class="clickable" style="width: 33%;" @onclick="() => OnMenuItemClick.InvokeAsync(MapGeneratorMenuItem.Settings)">
                <Label Text="@Strings.MapGeneratorMenu_Settings" FontSize="28" CenterText="true" />
            </div>
        </FlexRowContainer>
    </div>
</FlexColumnCenteredContainer>