.hex-container {
    width: 100%;
    height: 100%;
}

    .hex-container img {
        width: 100%;
        height: 100%;
/*        max-width: 86.6px;
        max-height: 100px;*/
        filter: brightness(1.0) contrast(1.4);
    }
