@page "/game/cards"
@using TwilightImperiumUltimate.Web.Components.Cards.Secrets
@using TwilightImperiumUltimate.Web.Components.Shared

<PageTitle>Cards</PageTitle>

<Page>
    <h1>Cards</h1>
    <Secrets />
</Page>
