@page "/game/technologies"
@using TwilightImperiumUltimate.Web.Components.Shared
@using TwilightImperiumUltimate.Web.Components.Shared.Text
@using TwilightImperiumUltimate.Web.Resources;

<PageTitle>@Strings.Page_Technologies</PageTitle>

<Page>
    <Title Text="@Strings.Page_Technologies"/>

    <p class="text-bodoni">
        Bodoni
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est felis, et porttitor nibh sagittis nec. In nec consectetur felis, non aliquam est. Phasellus hendrerit, nibh at sagittis commodo, velit nibh volutpat libero, quis rhoncus dui dui a augue. Praesent lobortis, felis id iaculis fringilla, urna turpis commodo dolor, non porttitor neque diam ac turpis. Sed vel vulputate tortor, sed sollicitudin odio. Praesent eu cursus odio, eu interdum est. Integer ipsum nunc, laoreet quis rutrum quis, fringilla sed diam. Aliquam ultrices gravida augue sed maximus. Praesent tincidunt nisi eget ullamcorper pretium. Ut mauris tortor, lacinia nec enim sed, dignissim consequat dolor. Vestibulum eu vulputate eros. Maecenas ex mauris, ultrices imperdiet ultricies nec, egestas quis tellus. In porta erat ac risus suscipit, ac ultricies nisl auctor.
    </p>

    <p class="text-bodoni">
        Bodoni
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est felis, et porttitor nibh sagittis nec. In nec consectetur felis, non aliquam est. Phasellus hendrerit, nibh at sagittis commodo, velit nibh volutpat libero, quis rhoncus dui dui a augue. Praesent lobortis, felis id iaculis fringilla, urna turpis commodo dolor, non porttitor neque diam ac turpis. Sed vel vulputate tortor, sed sollicitudin odio. Praesent eu cursus odio, eu interdum est. Integer ipsum nunc, laoreet quis rutrum quis, fringilla sed diam. Aliquam ultrices gravida augue sed maximus. Praesent tincidunt nisi eget ullamcorper pretium. Ut mauris tortor, lacinia nec enim sed, dignissim consequat dolor. Vestibulum eu vulputate eros. Maecenas ex mauris, ultrices imperdiet ultricies nec, egestas quis tellus. In porta erat ac risus suscipit, ac ultricies nisl auctor.
    </p>
</Page>

@code {

}
