@page "/community/tigl/report-game"

<Page>

    <Label Text="This page will be used in the future." TextColor="TextColor.Yellow" FontSize="24" CenterText="true" />
    <VerticalSpace Height="20" />
    <Label Text="The correct way to report a TIGL game is still with Google Form" FontSize="20" CenterText="true" />
    <VerticalSpace Height="20" />
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSc0_pSdCmAXy1ArQLM3solMvEHqwra46Ai98n9M39I-5UPrEA/viewform">
        <Button  ButtonText="REPORT WITH GOOGLE FORM" ButtonType="ButtonType.Button" Width="100" />
    </a>

</Page>




