@page "/community/tigl"

<PageTitle>@Strings.Page_TiglInfo</PageTitle>

<Page>
    <StretchHeightContainer CssClass="background">

    <FlexColumnContainer>

        <Title Text="What is TIGL?" />

        <VerticalSpace Height="40" />

        <Label Text="Twiligt Imperium Global League" CenterText="true" FontSize="28" TextColor="TextColor.Yellow" />

        <VerticalSpace Height="40" />

        <Title Text="Overview" FontSize="_sectionFontSize" />

        <FlexColumnCenteredContainer>
            <div class="info-content handel white shadow">
                <p>
                    TIGL is a fun way to get bonuses and bragging rights for winning competitive games of Twilight Imperium.
                </p>
                <p>
                    It doesn't matter where you play TI. You can use any platform you wan't. Even IRL games can be reported for TI Global League.
                    If you plan to play outside of Async environment make sure you register with your discord first. You can find button at the bottom of this page.
                    If you only play on AsyncTI4 Discord server, you don't need to register as registration will be done automatically when game report is sent to this website.
                </p>
                <p>
                    By winning games, you can earn ranks (Minister, Agent, Commander, Hero, and others), rating and achievements. The general idea is that if you win
                    a competitive game of TI (that is, a TIGL game, which will be described later), you gain the first rank: Minister (or Thrall).
                    To rank up further, all the players in your game must be your rank or higher at the start of the game.
                </p>
                <p>
                    For example, if 6 Ministers play a TIGL game, the winner will rank up to Agent. If Ministers and Agents start a game,
                    a Minister who wins will rank up, but an Agent who wins will not, and so forth.
                </p>
                <p>
                    You may not skip ranks, and the only way to lose ranks is by violating the Code of Conduct or by gaining a prestige rank
                    that also causes you to lose other ranks.
                </p>
                <p>
                    The whole thing is silly, but people seem to like it, so have fun! If you have questions or concerns, please reach out to
                    BLT or ping the <strong>@@TIGL Admin</strong> role.
                </p>
            </div>
        </FlexColumnCenteredContainer>

        <Title Text="TIGL" FontSize="_sectionFontSize" />

        <FlexColumnCenteredContainer>
            <div class="info-content handel white shadow">
                <p>
                    The Twilight Imperium Global League (TIGL) was founded by BigAlCupaChino as a larger effort to track competitive TI.
                    For simplicity, alignment, and the desire not to divert players away from TIGL, competitive async games must be flagged
                    as TIGL games at the start of the game setup.
                </p>
                <p>
                    TIGL has a lot of cool features, such as seasons (12 weeks long), season champions, ELO and Aussie points
                    (both season and lifetime), the ability to log real-time or IRL games, and more.
                </p>
                <p>
                    This document will focus primarily on the ranks aspect of TIGL, but you can enjoy the other benefits of TIGL
                    even if ranks are all you really care about.
                </p>
            </div>
        </FlexColumnCenteredContainer>

        <Title Text="Code of Conduct" FontSize="_sectionFontSize" />

        <FlexColumnCenteredContainer>
            <div class="info-content handel white shadow">
                <h3>Summary</h3>
                <p>
                    To ensure people have a good experience with their fellow humans, the Async TI server and TIGL have Codes of Conduct.
                    They won't keep people from taking your home system, but they do compel people to play by two primary rules:
                </p>
                <ol>
                    <li>You will play the game in good faith.</li>
                    <li>You will treat your fellow players with respect.</li>
                </ol>
                <p>
                    Violations of the Code of Conduct will result in losing all TIGL Ranks. If you feel a violation has occurred,
                    please contact an Admin (<strong>@@admin</strong>) or BLT.
                </p>
                <p>
                    Note that violations that don't result in a full server ban can still result in losing TIGL Ranks,
                    and players can regain ranks by winning games again.
                </p>

                <h3>TIGL Code of Conduct</h3>
                <p>
                    For reference, the full TIGL Code of Conduct is shared verbatim. Since it was originally imagined as a 12-week
                    in-person league, some of the rules don't apply directly to Async TIGL games, especially the bits about using
                    Rules as Written (we adhere to Rules as Explained by Dane, which are often not quite the same as they are written)
                    and playing "each week", which was specific to live games.
                </p>
                <p><strong>All players in the TIGL are to adhere to the code of conduct:</strong></p>
                <ol>
                    <li>Respect each other and play with honor and dignity. Don't be rude, argumentative, vulgar or abusive.</li>
                    <li>Sportsmanship is more important than winning. This includes no collusion outside the game in progress.</li>
                    <li>Play within the spirit of the game, allow everyone to have fun and enjoy the game.</li>
                    <li>
                        In game Rules as Written (RAW). Anything goes on the board BUT:
                        <ul>
                            <li>Above table no abuse, discrimination, intimidation or other unacceptable behavior.</li>
                            <li>Beyond table no collusion or attempt to subvert the league.</li>
                        </ul>
                    </li>
                    <li>Playing each week with same 6 players is legal but discouraged. League encourages players to mingle and play with broader groups.</li>
                    <li>All games are subject to Rules as Written (RAW).</li>
                    <li>Players who sign up for a game and then no show or last minute cancel may be removed from league.</li>
                    <li>If at anytime you feel unsafe or a player's conduct is unbecoming contact an admin.</li>
                    <li>Players may be removed from league at the sole discretion of the TIGL admin team.</li>
                    <li>By signing up for league you agree to have your discord name [and discord tag/id] and your match results being made public.</li>
                </ol>
            </div>
        </FlexColumnCenteredContainer>

        <Title Text="How Do I Get Started?" FontSize="_sectionFontSize" />

        <FlexColumnCenteredContainer>
            <div class="info-content handel white shadow">

                <Title Text="Do I need to sign up for TIGL first?" FontSize="_sectionFontSize" />

                <p>
                    Not if you're playing async. If you've never finished an async game, and you're
                    submitting a TIGL played outside async (e.g., TTPG or around a table), you'll need to sign up here for the reporting
                    form to be able to find your name. If you're playing async, finishing an async game will sign you up.
                </p>
                <p>
                    Starting a TIGL game is much like starting any game in the Discord server. Head to <strong>#making-new-games</strong>
                    and make a post explaining the type of game you're looking for, including that it will be TIGL. Some other things worth posting:
                </p>
                <ul>
                    <li>Will this be a standard TIGL game? If not, which variants are you including?</li>
                    <li>How many points will be needed to win?</li>
                    <li>
                        About how often do you expect people to be available to respond to deals and conversations, to take turns, etc.?
                        This can range from "once or twice a day" to "more or less constantly besides sleep", and people tend to prefer
                        to play in games where people check in at similar cadences.
                    </li>
                    <li>Support for the Throne considerations</li>
                </ul>
                <p>
                    You'll also need to make sure to tag the game as TIGL, which is usually done with a button in the game creation thread.
                    If for any reason that button doesn't appear or doesn't work, use the slash command to tag it:
                    <code>/game setup is_tigl_game:True</code>
                </p>
                <p>
                    If you forget to do this there are manual ways around it, but at the current scale it makes a big difference when games
                    are logged automatically, so thank you 🙂
                </p>
                <p>
                    If you are playing a game in the Fractured Ladder (described below) and aren't using the button, you'll also need to run
                    <code>/tigl is_fractured is_fractured:True</code>
                </p>
                <p>
                    You can also join a game that somebody else has posted about, by asking in the game creation thread if you can join.
                    Be aware that some games may be looking for people at a certain rank or higher to ensure the winner can rank up.
                </p>
            </div>
        </FlexColumnCenteredContainer>

        <Title Text="What's Allowed in Our Games?" FontSize="_sectionFontSize" />

        <FlexColumnCenteredContainer>
            <div class="info-content handel white shadow">
                <p>
                    TIGL was originally designed to be very standardized — no homebrew, 10 points every game, a very strict ruleset.
                    Thunder's Edge, and Codex 4 before it, brought Events as a new way to change the rules of standard Twilight Imperium
                    that isn't quite homebrew, but is not "standard TI".
                </p>
                <p>
                    But just because a game goes to 14 or 16 points, or includes a well-tested homebrew faction or component,
                    or wants to use Minor Factions or another event, doesn't mean the players don't still want a competitive game.
                </p>
                <p>
                    So, for the first time, we're introducing two separate "ladders" of ranks. Enough people enjoy the competitive
                    aspect of TIGL games, even for non-standard play modes, that we are accommodating them. We are also ensuring
                    that a standardized way to play competitive TI still exists.
                </p>
            </div>
        </FlexColumnCenteredContainer>

        <FlexColumnCenteredContainer>
            <Button ButtonText="Register" OnClick="NavigateToRegister" Width="25" />
            <VerticalSpace Height="20" />
            <Button ButtonText="Report Game" OnClick="NavigateToReportGame" Width="25" />
            <VerticalSpace Height="20" />
            <Button ButtonText="Join Discord" OnClick="NavigateToDiscord" Width="25" />
            <VerticalSpace Height="20" />
            <Button ButtonText="TIGL Manifest" OnClick="NavigateToManifest" Width="25" />
            <VerticalSpace Height="20" />
        </FlexColumnCenteredContainer>

    </FlexColumnContainer>

    </StretchHeightContainer>
</Page>
