<div>
    <FlexColumnCenteredContainer>
        <a href="@DiscordInviteLink" target="_blank" style="width: 100%">
            <BorderedImage ImagePath="@GetDiscordIconPath()" MaxWidth="100" Width="100" />
        </a>
        <Label Text="@Title" FontSize="24" CenterText="true" />
    </FlexColumnCenteredContainer>
</div>
