@using System.Globalization;
@using TwilightImperiumUltimate.Web.Resources;
@using TwilightImperiumUltimate.Web.Services.Language;
@inject ICultureProvider CultureProvider

<div class="@(TypeOfCard == Strings.StrategyCard ? "strategy-image-item" : "image-item")">
    <img src="@ImagePath" alt="@ImagePath">
</div>

@code {
    [Parameter]
    public string ImagePath { get; set; } = string.Empty;

    [Parameter]
    public string TypeOfCard { get; set; } = string.Empty;
}