@using System.Globalization;
@using TwilightImperiumUltimate.Web.Resources;
@using TwilightImperiumUltimate.Web.Services.Language;
@inject ICultureProvider CultureProvider

<div class="image-item">
    <img src="@ImagePath" alt="@ImagePath">
</div>

@code {
    [Parameter]
    public string ImagePath { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => ImagePath = ImagePath.Replace(Strings.LanguagePlaceholder, CultureInfo.CurrentCulture.Name));
    }
}