.objective-card-stage-one-text-area {
    padding: 30px 25px 10px 25px;
    height: 325px;
    max-height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.objective-card-stage-one-title-area {
    padding-top: 10px;
    height: 200px;
    align-self: center;
}