.button {
    min-width: 20%;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgba(0, 0, 255, 0.3);
    transition: background-color 0.3s ease;
    padding: 10px;
}

.button-disabled {
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgba(128, 128, 128, 0.3);
    transition: background-color 0.3s ease;
    padding: 10px;
}

.button:hover {
    background-color: white;
}
