@using TwilightImperiumUltimate.Web.Components.Shared.Layouts

<div class="button clickable white handel shadow @(IsDisabled ? "button-disabled" : "button")"
    @onclick="OnClickHandler">
    <div class="flex-row">
        @ButtonText
    </div>
</div>
