@using TwilightImperiumUltimate.Web.Components.Shared.Layouts

<button class="div-like-button clickable white handel shadow @(IsDisabled ? "button-disabled" : "button")"
        style="width: @(Width)%"
        type="@GetButtonType()"
        @onclick="OnClickHandler">
    @ButtonText
</button>
