@using TwilightImperiumUltimate.Web.Components.Cards
@using TwilightImperiumUltimate.Web.Components.Factions

<GridLayout Columns="5" Gap="10" Width="60">
        @foreach (var objective in _secretObjectives.OrderByDescending(x => x.ScoredFactions.Count))
        {
            <div style="max-width: 100%;">

                <ObjectiveCard 
                    Name="@objective.ObjectiveCard.Name"
                    ObjectiveCardName="objective.ObjectiveCard.ObjectiveCardName"
                    ObjectiveCardType="objective.ObjectiveCard.ObjectiveCardType" 
                    Picked="true" />

                <GridLayout Columns="4" CssClass="background" >
                    @foreach (var player in _players)
                    {
                        <div @onclick="() => ScoreObjective(objective, player)"
                            class="clickable"
                            style="filter: @GetScoreStatus(objective, player); -webkit-filter: @GetScoreStatus(objective, player);">
                            <FactionIconImg FactionName="@player.FactionName" />
                        </div>
                    }
                </GridLayout>
            </div>
        }
    </GridLayout>
