.container {
    display: grid;
    grid-template-columns: repeat(9, minmax(1px, auto));
    grid-template-rows: repeat(8, auto);
    grid-gap: 0px;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

    .container > :nth-child(9n+1) {
        transform: translate(100%, 0%);
    }

    .container > :nth-child(9n+2) {
        transform: translate(75%, 50%);
    }

    .container > :nth-child(9n+3) {
        transform: translate(50%, 0%);
    }

    .container > :nth-child(9n+4) {
        transform: translate(25%, 50%);
    }

    .container > :nth-child(9n+6) {
        transform: translate(-25%, 50%);
    }

    .container > :nth-child(9n+7) {
        transform: translate(-50%, 0%);
    }

    .container > :nth-child(9n+8) {
        transform: translate(-75%, 50%);
    }

    .container > :nth-child(9n+9) {
        transform: translate(-100%, 0%);
    }

    .container > :nth-child(74) {
        grid-column: 3 / span 1; /* Place in 2nd column */
        grid-row: 9; /* Place in 9th row */
        transform: translate(50%, 0%);
    }

    .container > :nth-child(75) {
        grid-column: 5 / span 1; /* Place in 2nd column */
        grid-row: 9; /* Place in 9th row */
        transform: translate(0%, 0%);
    }

    .container > :nth-child(76) {
        grid-column: 7 / span 1; /* Place in 2nd column */
        grid-row: 9; /* Place in 9th row */
        transform: translate(-50%, 0%);
    }

    .container > :nth-child(77) {
        grid-column: 8 / span 1; /* Place in 2nd column */
        grid-row: 9; /* Place in 9th row */
    }


    .container > :nth-child(1),
    .container > :nth-child(2),
    .container > :nth-child(3),
    .container > :nth-child(7),
    .container > :nth-child(8),
    .container > :nth-child(9),
    .container > :nth-child(10),
    .container > :nth-child(18),
    .container > :nth-child(77),
    .container > :nth-child(76),
    .container > :nth-child(74),
    .container > :nth-child(73),
    .container > :nth-child(72),
    .container > :nth-child(71),
    .container > :nth-child(65),
    .container > :nth-child(64) {
        visibility: hidden;
    }

.hex {
    flex-shrink: 1;
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
