<FlexRowContainer JustifyContent="Enums.JustifyContent.FlexStart">
    <div style="position: relative; display: flex; width: 100%;">
        <div class="@(CssClass)" style="width: 100%">
            <div style="min-height: @(FontSize)px; background-color: @(GetConvertedTextColor()); width: @(GetComputedValue())%;"
                 max="100">
            </div>
        </div>
    </div>
</FlexRowContainer>

