@page "/about"

<PageTitle>@Strings.Page_About</PageTitle>

<Page>

    <FlexColumnContainer>

        <Title Text="@Strings.About_Title"/>

        <FlexColumnCenteredContainer>
            <div class="about handel white shadow">
                @_aboutTheAuthor
            </div>
        </FlexColumnCenteredContainer>

        <Title Text="@Strings.About_DisclaimerTitle"/>

        <FlexColumnCenteredContainer>
            <div class="about handel white shadow">
                @_disclaimer
            </div>
        </FlexColumnCenteredContainer>

        <Title Text="@Strings.About_ThankYouTitle" />

        <FlexColumnCenteredContainer>
            <div class="about handel white shadow">
                @_thankYou
            </div>
        </FlexColumnCenteredContainer>

    </FlexColumnContainer>

</Page>
