@page "/about"
@using TwilightImperiumUltimate.Web.Components.Shared
@using TwilightImperiumUltimate.Web.Components.Shared.Text
@using TwilightImperiumUltimate.Web.Resources;

<PageTitle>@Strings.Page_About</PageTitle>

<Page>
   <Title>About</Title>
</Page>
