@page "/"
@using TwilightImperiumUltimate.Web.Components.Shared
@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Components.Shared.Text
@using TwilightImperiumUltimate.Web.Resources;
@using TwilightImperiumUltimate.Web.Components.News;

<PageTitle>@Strings.Page_News</PageTitle>

<Page>

    <FlexColumnCenteredContainer>

        <StretchHeightContainer>

                @if (_newsArticles.Count > 0)
                {
                    foreach (var article in _newsArticles)
                    {
                        <NewsArticleSegment NewsArticle="@article" />
                        <VerticalSpace Height="50" />
                    }
                }
                else
                {
                    <div class="loading-text-section">...LOADING...</div>
                }

        </StretchHeightContainer>

    </FlexColumnCenteredContainer>

</Page>
