.loading-text-section {
    font-family: Handel, fallback, sans-serif;
    color: white;
    font-size: clamp(1.5rem, 1.2rem + 1.5vw, 2.25rem);
    font-weight: bold !important;
    color: white !important;
    padding-top: var(--space-3xl);
    text-align: center !important;
    text-transform: uppercase !important;
    text-shadow: var(--shadow-text) !important;
}