@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Helpers.Resources;

<FlexColumnCenteredContainer>

    <VerticalSpace Height="50" />

    <TitleLine TransformX="-15" Width="125" MaxWidth="125" />

    <FlexColumnCenteredContainer CssClass="title handel white shadow">

        <FlexRowContainer JustifyContent="Enums.JustifyContent.SpaceBetween">

            <FactionIconImg FactionName="@(FactionName)" Height="50" />

            <div class="title">
                @FactionName.GetFactionUIText(FactionResourceType.Title)
            </div>

            <FactionIconImg FactionName="@(FactionName)" Height="50" />

        </FlexRowContainer>

    </FlexColumnCenteredContainer>

    <TitleLine TransformX="-15" Width="125" MaxWidth="125"/>

</FlexColumnCenteredContainer>
