.factioninfo-navbar-shell {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.factioninfo-navbar {
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.5) 10%, rgba(0,0,0,0.5) 90%, rgba(0,0,0,0));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 3rem;
    margin-bottom: var(--space-md);
    align-self: center;
}

.menu-item {
    color: white;
    font-family: Handel, fallback, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 1), 2px 0px 6px rgba(0, 0, 0, 1), 0px -2px 6px rgba(0, 0, 0, 1), -2px 0px 6px rgba(0, 0, 0, 1), 1px 1px 6px rgba(0, 0, 0, 1), 1px -1px 6px rgba(0, 0, 0, 1), -1px 1px 6px rgba(0, 0, 0, 1), -1px -1px 6px rgba(0, 0, 0, 1);
}

@media (max-width: 1248px) {
    .factioninfo-navbar-shell {
        width: 92%;
    }

    .menu-item {
        font-size: 14px;
    }

    .factioninfo-navbar {
        min-height: 2.75rem;
    }
}

@media (max-width: 768px) {
    .factioninfo-navbar-shell {
        width: 98%;
    }

    .menu-item {
        font-size: 0.652rem;
    }

    .menu-item-components {
        font-size: 0.652rem;
    }

    .factioninfo-mobile-menu-row-spacer {
        grid-column: span 3;
    }

    .factioninfo-navbar {
        min-height: 2.5rem;
    }
}
