@inherits TwilightImperiumBaseComponenet

<div class="link responsive-icon" @onclick="() => OnClick.InvokeAsync(Faction)">
    <img class="icon @GetBanIconState()"
         src="@GetFactionIconPath()"
         alt="icon for @Name"
         title="@Name">
</div>
