.system-stats {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-self: self-start;
    width: 100%;
    color: white;
}

::deep .system-stats-title {
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
}

::deep .system-stats-grid {
    align-items: center;
}

.system-stats-text {
    font-size: 18px;
}

.system-stats-value {
    font-size: 18px;
}

@media (max-width: 1248px) {
    .system-stats-text, .system-stats-value {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .system-stats-text, .system-stats-value {
        font-size: 10px;
    }
}

