.history {
    color: white;
    text-align: justify;
    width: 80%;
    line-height: 1.5;
}

.history::after {
    content: "";
    display: inline-block;
    width: 100%;
}

@media (max-width: 1248px) {
    .history {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .history {
        font-size: 10px;
    }
}
