@using TwilightImperiumUltimate.Web.Helpers.Resources;

<div class="title">
    @FactionName.GetFactionUIText(FactionResourceType.Title)
</div>

@code {
    [Parameter]
    public FactionName FactionName { get; set; } = default!;
}
