@using TwilightImperiumUltimate.Web.Models.Factions;
@using TwilightImperiumUltimate.Web.Resources;
@using TwilightImperiumUltimate.Web.Services.HttpClients;
@using TwilightImperiumUltimate.Web.Services.Path;
@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@inherits TwilightImperiumBaseComponent

<ResponsiveContainer Type="fluid" Padding="none">
    @if (_factions is not null)
    {
        if (ShowBaseGame)
        {
            @if (UseSplitRowsLayout)
            {
                <div class="faction-menu-shell faction-menu-compact">
                    <div class="icon-row-compact">
                        <ResponsiveGridContainer Columns="17" TabletColumns="17" MobileColumns="17" Width="100" Gap="0">
                            @foreach (var faction in GetCompactFirstRowFactions())
                            {
                                <FactionIcon Faction="faction" OnClick="() => FactionClicked(faction)" EnableBanMode="EnableBanMode" NoPadding="true" />
                            }
                        </ResponsiveGridContainer>
                    </div>

                    <div class="icon-row-compact">
                        <ResponsiveGridContainer Columns="17" TabletColumns="17" MobileColumns="17" Width="100" Gap="0">
                            @foreach (var faction in GetCompactSecondRowWithPlaceholders())
                            {
                                @if (faction is null)
                                {
                                    <div class="faction-placeholder"></div>
                                }
                                else
                                {
                                    <FactionIcon Faction="faction" OnClick="() => FactionClicked(faction)" EnableBanMode="EnableBanMode" NoPadding="true" />
                                }
                            }
                        </ResponsiveGridContainer>
                    </div>
                </div>

                <div class="faction-menu-shell faction-menu-mobile">
                    <div class="icon-row-compact">
                        <ResponsiveGridContainer Columns="9" TabletColumns="9" MobileColumns="9" Width="100" Gap="0">
                            @foreach (var faction in GetMobileRow1Factions())
                            {
                                <FactionIcon Faction="faction" OnClick="() => FactionClicked(faction)" EnableBanMode="EnableBanMode" NoPadding="true" />
                            }
                        </ResponsiveGridContainer>
                    </div>

                    <div class="icon-row-compact">
                        <ResponsiveGridContainer Columns="8" TabletColumns="8" MobileColumns="8" Width="100" Gap="0">
                            @foreach (var faction in GetMobileRow2Factions())
                            {
                                <FactionIcon Faction="faction" OnClick="() => FactionClicked(faction)" EnableBanMode="EnableBanMode" NoPadding="true" />
                            }
                        </ResponsiveGridContainer>
                    </div>

                    <div class="icon-row-compact">
                        <ResponsiveGridContainer Columns="9" TabletColumns="9" MobileColumns="9" Width="100" Gap="0">
                            @foreach (var faction in GetMobileRow3FactionsWithPlaceholders())
                            {
                                @if (faction is null)
                                {
                                    <div class="faction-placeholder"></div>
                                }
                                else
                                {
                                    <FactionIcon Faction="faction" OnClick="() => FactionClicked(faction)" EnableBanMode="EnableBanMode" NoPadding="true" />
                                }
                            }
                        </ResponsiveGridContainer>
                    </div>

                    <div class="icon-row-compact">
                        <ResponsiveGridContainer Columns="9" TabletColumns="9" MobileColumns="9" Width="100" Gap="0">
                            @foreach (var faction in GetMobileRow4FactionsWithPlaceholder())
                            {
                                @if (faction is null)
                                {
                                    <div class="faction-placeholder"></div>
                                }
                                else
                                {
                                    <FactionIcon Faction="faction" OnClick="() => FactionClicked(faction)" EnableBanMode="EnableBanMode" NoPadding="true" />
                                }
                            }
                        </ResponsiveGridContainer>
                    </div>
                </div>
            }
            else
            {
                <div class="faction-menu-shell">
                    <div class="icon-row width-100">
                        @foreach (var faction in GetBaseGameFactions())
                        {
                            <FactionIcon Faction="faction" OnClick="() => FactionClicked(faction)" EnableBanMode="EnableBanMode" NoPadding="true" />
                        }
                    </div>
                </div>
            }
        }

        if (ShowDiscordantStars && _factions.Count > 25)
        {
            <ResponsiveVerticalSpacer CustomHeight="10px" />

            <div class="faction-menu-shell">
                <div class="icon-row width-100">
                    @foreach (var faction in GetDiscordantStarsFactions().Take(24))
                    {
                        <FactionIcon Faction="faction" OnClick="() => FactionClicked(faction)" EnableBanMode="EnableBanMode" NoPadding="true" />
                    }
                </div>
            </div>

            @if (_factions.Count > 49)
            {
                <div class="faction-menu-shell faction-menu-shell-half">
                    <div class="icon-row width-100">
                        @foreach (var faction in GetDiscordantStarsFactions().Skip(24).Take(10))
                        {
                            <FactionIcon Faction="faction" OnClick="() => FactionClicked(faction)" EnableBanMode="EnableBanMode" NoPadding="true" />
                        }
                    </div>
                </div>
            }
        }
    }
</ResponsiveContainer>

