@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Helpers.Resources;

<FlexColumnCenteredContainer>

    <ResponsiveVerticalSpacer Size="2xl" ShowOnMobile="false" />

    <div class="faction-title-line">
        <TitleLine TransformX="-15" WidthCss="125%" MaxWidthCss="125%" />
    </div>

    <FlexColumnCenteredContainer CssClass="title handel white shadow">

        <ResponsiveContainer Type="fluid" Padding="none" Style="display:flex; justify-content:space-between; align-items:center;">

            <FactionIconImg FactionName="@(FactionName)" ResponsiveHeight="clamp(1.25rem, 3vw, 3.125rem)" />

            <div class="title">
                @FactionName.GetFactionUIText(FactionResourceType.Title)
            </div>

            <FactionIconImg FactionName="@(FactionName)" ResponsiveHeight="clamp(1.25rem, 3vw, 3.125rem)" />

        </ResponsiveContainer>

    </FlexColumnCenteredContainer>

    <div class="faction-title-line">
        <TitleLine TransformX="-15" WidthCss="125%" MaxWidthCss="125%" />
    </div>

</FlexColumnCenteredContainer>
