@using TwilightImperiumUltimate.Web.Helpers.Resources;

<div class="system-stats">
@foreach(var line in FactionUIText())
{
    if (line.Contains("."))
    {
        string[] parts = @line.Split(".");

        <div class="system-stats-line">
            <div class="system-stats-text shadow handel">
                @parts[0]
            </div>
            <div class="system-stats-value shadow handel">
                @parts[1]
            </div>
        </div>
    }
    else
    {
        <div class="system-stats-line-title">
            <div class="system-stats-text shadow handel">
                @line
            </div>
        </div>
        continue;
    }
}
</div>
