@using TwilightImperiumUltimate.Web.Models.Factions;
@using TwilightImperiumUltimate.Web.Resources;
@using TwilightImperiumUltimate.Web.Services.HttpClients;
@using TwilightImperiumUltimate.Web.Services.Path;
@inherits TwilightImperiumBaseComponenet

@if (_factions is not null)
{
    if (ShowBaseGame)
    {
        <div class="icon-row width-100">
            @foreach (var faction in GetBaseGameFactions())
            {
                <FactionIcon Faction="faction" OnClick="() => FactionClicked(faction)" EnableBanMode="EnableBanMode" />
            }
        </div>
    }

    if (ShowDiscordantStars && _factions.Count > 25)
    {
        <VerticalSpace Height="10" />

        <div class="icon-row width-100">
            @foreach (var faction in GetDiscordantStarsFactions().Take(24))
            {
                <FactionIcon Faction="faction" OnClick="() => FactionClicked(faction)" EnableBanMode="EnableBanMode" />
            }
        </div>

        @if (_factions.Count > 49)
        {
            <HorizontalSpace Width="20" />
            
            <div class="icon-row width-50">

                @foreach (var faction in GetDiscordantStarsFactions().Skip(24).Take(10))
                {
                    <FactionIcon Faction="faction" OnClick="() => FactionClicked(faction)" EnableBanMode="EnableBanMode" />
                }
                <HorizontalSpace Width="20" />
            </div>
        }
    }
}

<VerticalSpace Height="20" />
