@using TwilightImperiumUltimate.Web.Models.Factions;
@using TwilightImperiumUltimate.Web.Resources;
@using TwilightImperiumUltimate.Web.Services.HttpClients
@using TwilightImperiumUltimate.Web.Services.Path;
@inject ITwilightImperiumApiHttpClient HttpClient
@inject IPathProvider PathProvider

@if (_factions is not null)
{
    <div class="icon-row">
        @if (_factions.Count > 0)
        {
            @foreach (var faction in _factions)
            {
                <div class="link" @onclick="() => FactionClicked(faction)">

                    @{
                        var banned = faction.Banned && EnableBanMode ? "colorless" : string.Empty;
                    }
                    <img 
                        class="icon link @banned" 
                        src="@(PathProvider.GetFactionIconPath(faction.FactionName.ToString()))" 
                        alt="icon for @faction.FactionName"
                        title="@faction.FactionName"
                    >
                </div>
            }
        }
    </div>
}
