.abilities {
    font-size: 20px;
    text-align: justify;
    width: 80%
}

@media (max-width: 1248px) {
    .abilities {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .abilities {
        font-size: 10px;
    }
}
