@using TwilightImperiumUltimate.Web.Helpers.Resources;

<p class="system-quote">
    @FactionName.GetFactionUIText(FactionResourceType.Quote)
</p>

@code {
    [Parameter]
    public FactionName FactionName { get; set; } = default!;
}
