@using TwilightImperiumUltimate.Web.Helpers.Resources;

<div class="abilities">
    @FactionName.GetFactionUIResource(FactionResourceType.Ability)
</div>

@code {
    [Parameter]
    public FactionName FactionName { get; set; } = default!;
}
