@using TwilightImperiumUltimate.Web.Helpers.Resources;
@inherits FactionInfoComponentBase

<p class="history handel shadow">
    @Faction.FactionName.GetFactionUIText(FactionResourceType.History)
</p>