@using TwilightImperiumUltimate.Web.Models.Factions;
@using TwilightImperiumUltimate.Web.Resources;
@using TwilightImperiumUltimate.Web.Services.Path;
@inject HttpClient Http
@inject IPathProvider PathProvider

@if (_factions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="icon-row">
        @if (_factions.Count > 0)
        {
            @foreach (var faction in _factions)
            {
                <div class="link" @onclick="() => FactionClicked(faction)">

                    @{
                        var banned = faction.Banned && BanMode ? "colorless" : string.Empty;
                    }
                    <img 
                        class="icon link @banned" 
                        src="@(PathProvider.GetFactionIconPath(faction.FactionName.ToString()))" 
                        alt="icon for @faction.FactionName"
                        title="@faction.FactionName"
                    >
                </div>
            }
        }
        else
        {
            <p>No factions found.</p>
        }
    </div>
}

@code {
    private List<FactionModel>? _factions = new List<FactionModel>();

    [Parameter]
    public EventCallback<FactionModel> OnFactionSelected { get; set; }

    [Parameter]
    public EventCallback<List<FactionModel>> OnFactionClicked { get; set; }

    [Parameter]
    public bool BanMode { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _factions = await Http.GetFromJsonAsync<List<FactionModel>>(Paths.ApiPath_Factions);
            await OnFactionClicked.InvokeAsync(_factions);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
            _factions = new List<FactionModel>();
        }
    }

    private void FactionClicked(FactionModel selectedFaction)
    {
        OnFactionSelected.InvokeAsync(selectedFaction);

        if (BanMode)
            selectedFaction.Banned = !selectedFaction.Banned;

        OnFactionClicked.InvokeAsync(_factions);
    }

    public void ResetBans()
    {
        if (_factions is not null)
            _factions.ForEach(x => x.Banned = false);
    }
}
