.image-item {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
}

    .image-item img {
        display: block;
        border-radius: 20px;
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
    }

    .image-item::before {
        content: "";
        position: absolute;
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 0 5px #000;
        pointer-events: none;
        border-radius: 20px;
    }

@media (max-width: 1280px) {
    .image-item img {
        border-radius: 10px;
    }

    .image-item::before {
        border-radius: 10px;
        box-shadow: inset 0 0 0 3px #000;
    }
}

@media (max-width: 768px) {

    .image-item img {
        border-radius: 5px;
    }

    .image-item::before {
        border-radius: 5px;
        box-shadow: inset 0 0 0 2px #000;
    }
}
