@inherits LayoutComponentBase
@using TwilightImperiumUltimate.Web.Components.Shared
@using TwilightImperiumUltimate.Web.Services.Language;
@using TwilightImperiumUltimate.Web.Resources;
@inject ICultureProvider CultureProvider

<main>
    <CultureMenu />
    <Header />
    @Body
    <Footer />
</main>

@code {
    protected override async Task OnInitializedAsync()
    {
        await CultureProvider.SetUserStoredCultureOrDefaultAsync();
    }
}