@inherits LayoutComponentBase
@using TwilightImperiumUltimate.Web.Components.Shared

<main>
    <UpdateAvailable />
    <AccountMenu />
    <Header />
    @Body
    <Footer />
    <RadzenContextMenu />
</main>
