.grid-header {
    padding-top: 0.5%;
    padding-bottom: 1%;
    width: 100%;
}

.map-archive-grid ::deep .rz-grid-table thead th {
    text-align: center;
}

.map-archive-grid ::deep .rz-custom-header {
    width: 100%;
}

.map-archive-grid ::deep .rz-grid-table tbody tr > td:first-child,
.map-archive-grid ::deep .rz-grid-table tbody tr > td:first-child .rz-cell-data {
    text-align: left;
}
