@inherits TwilightImperiumBaseComponenet

<FlexColumnCenteredContainer>
    <a href="@WebsitePath" target="_blank" style="width: 100%">
        <BorderedImage ImagePath="@GetWebsiteIconPath()" MaxWidth="100" Width="100"/>
    </a>
    <Label Text="@Title" FontSize="16" CenterText="true"/>
    <HelpText Text="@Description" />
</FlexColumnCenteredContainer>

