@page "/tools/battlecalculator"
@using TwilightImperiumUltimate.Web.Components.Shared
@using TwilightImperiumUltimate.Web.Components.Shared.Text
@using TwilightImperiumUltimate.Web.Resources;

<PageTitle>@Strings.Page_BattleCalculator</PageTitle>

<Page>
    <Title Text="@Strings.Page_BattleCalculator"></Title>
</Page>
