@page "/tools/draft"
@using TwilightImperiumUltimate.Web.Components.Shared
@using TwilightImperiumUltimate.Web.Components.Shared.Text
@using TwilightImperiumUltimate.Web.Resources;

<PageTitle>@Strings.Page_Draft</PageTitle>

<Page>
    <Title Text="@Strings.Page_Draft"></Title>
</Page>
