<div style="background: 
    linear-gradient(to right, 
    rgba(@ConvertColorNameToRGB(BackgroundColor),0),
    rgba(@ConvertColorNameToRGB(BackgroundColor),0.6) 15%,
    rgba(@ConvertColorNameToRGB(BackgroundColor),0.6) 85%,
    rgba(@ConvertColorNameToRGB(BackgroundColor),0));"
     class="@CssClass colorpickerbackground">

    @ChildContent
</div>
