@page "/objectivecard"
@using TwilightImperiumUltimate.Web.Models.Cards;
@using TwilightImperiumUltimate.Web.Resources;
@using TwilightImperiumUltimate.Web.Services.Language;
@inject HttpClient Http
@inject ICultureProvider cultureProvider

@if (_secretCards == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="image-grid">
        @foreach (var card in _secretCards)
        {
            <VerticalCard ImagePath="@card.ImagePath" />
        }
    </div>
}

@code {
    private List<BaseCard>? _secretCards;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _secretCards = await Http.GetFromJsonAsync<List<BaseCard>>("https://localhost:44307/api/cards/secret");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
    }
}
