.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
    gap: 30px; /* No gap between grid items */
    place-items: center;
    max-width: 1200px; /* maximum width of the grid */
}

.image-item img {
    height: 500px;
    border-radius: 8px; /* optional rounded corners */
    display: block; /* Removes any default spacing/margins */
}