@page "/objectivecard"
@using TwilightImperiumUltimate.Web.Models.Cards;
@inject HttpClient Http

@if (secretCards == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="image-grid">
        @foreach (var card in secretCards)
        {
            var imagePath = card.ImagePath.Replace("{language}", "en");

            <div class="image-item">
                <img src="@imagePath" alt="@imagePath">
            </div>
        }
    </div>
}

@code {
    private List<ObjectiveCard>? secretCards;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            secretCards = await Http.GetFromJsonAsync<List<ObjectiveCard>>("https://localhost:44307/api/cards/secret");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
    }
}
