@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Services.Path;
@inherits BaseMap
@inject IPathProvider PathProvider

<VerticalSpace Height="50" />

<div class="container">
    @foreach (var mapPosition in MapPositions)
    {
        if (MapTilePositions is not null && MapTilePositions.Keys.Any())
        {
            if (mapPosition == 51)
                MapTileId = 52;
            else
                MapTileId = MapTilePositions[mapPosition];

            MapTileId = 0;
        }
        <div class="hex">
            <MapHexTile ImagePath="@(PathProvider.GetLargeTileImagePath($"Tile{MapTileId}"))"
                        ShowTileId="true"
                        MapTileId="@(MapTileId.ToString())"/>
        </div>
    }
</div>