@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Services.Path;
@inherits BaseMap
@inject IPathProvider PathProvider

<VerticalSpace Height="50" />

<div class="container">
    @foreach (var mapPosition in MapPositions)
    {
        if (MapTilePositions is not null && MapTilePositions.Keys.Any())
        {
            if (mapPosition == 51)
                MapTileId = 52;
            else
                MapTileId = MapTilePositions[mapPosition];

            if (MapGeneratorSettingsService.MapTemplate == MapTemplate.LargeMapSixPlayers)
            {
                MapTileId = mapPosition switch
                {
                    4 => -1,
                    26 => -1,
                    62 => -1,
                    76 => -1,
                    54 => -1,
                    18 => -1,
                    40 => 18,
                    _ => 0,
                };
            }

            if (MapGeneratorSettingsService.MapTemplate == MapTemplate.LargeMapEightPlayers)
            {
                MapTileId = mapPosition switch
                {
                    4 => -1,
                    10 => -1,
                    16 => -1,
                    36 => -1,
                    44 => -1,
                    55 => -1,
                    61 => -1,
                    76 => -1,
                    40 => 18,
                    _ => 0,
                };
            }
        }
        <div class="hex">
            <MapHexTile ImagePath="@(PathProvider.GetLargeTileImagePath($"Tile{MapTileId}"))"
                        ShowTileId="true"
                        MapTileId="@(MapTileId.ToString())"/>
        </div>
    }
</div>