@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Services.Path;
@inherits BaseMap
@inject IPathProvider PathProvider

<VerticalSpace Height="50" />

<div class="container">
    @foreach (var mapPosition in MapPositions)
    {
        if (MapTilePositions is not null && MapTilePositions.Keys.Any())
        {
            if (mapPosition == 51)
                MapTileId = 52;
            else
                MapTileId = MapTilePositions[mapPosition];

            MapTileId = mapPosition switch
            {
                14 => -1,
                20 => -1,
                31 => -1,
                10 => 18,
                _ => 0,
            };
        }
        <div class="hex">
            <MapHexTile ImagePath="@(PathProvider.GetLargeTileImagePath($"Tile{MapTileId}"))"
                        MapTileId="@(MapTileId.ToString())"
                        ShowTileId="true" />
        </div>
    }
</div>
