@page "/faq"
@using TwilightImperiumUltimate.Web.Components.Shared
@using TwilightImperiumUltimate.Web.Components.Shared.Text
@using TwilightImperiumUltimate.Web.Resources;

<PageTitle>@Strings.Page_Faq</PageTitle>

<Page>
    <Title>@Strings.Page_Faq</Title>
</Page>
