@page "/rules"
@using TwilightImperiumUltimate.Web.Components.Shared
@using TwilightImperiumUltimate.Web.Components.Shared.Text
@using TwilightImperiumUltimate.Web.Resources;

<PageTitle>@Strings.Page_Rules</PageTitle>

<Page>
    <Title>@Strings.Page_Rules</Title>
</Page>
