@using TwilightImperiumUltimate.Web.Components.Cards
@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Services.Path

<FlexColumnCenteredContainer>

    <div class="faction-tech-tree-grid">

        @foreach (var technology in Technologies)
        {
            <div class="image-container">
                <TechnologyCard TechnologyName="technology.TechnologyName")" />
            </div>
        }

    </div>

</FlexColumnCenteredContainer>
