@inherits TwilightImperiumBaseComponent

<div class="tech-nav-item clickable @(IsSelected ? "tech-nav-item-selected" : string.Empty)" @onclick="OnClick">
    @if (TechnologyType != TechnologyType.Faction)
    {
        <img src="@ImagePath" class="tech-nav-icon" alt="@TechnologyName" />
    }
    <div class="handel @ColorClass shadow tech-nav-label @(TechnologyType == TechnologyType.Faction ? "tech-nav-label-faction" : string.Empty)">
        @TechnologyName
    </div>
</div>

