@using TwilightImperiumUltimate.Contracts.Enums
@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Resources

<FlexColumnCenteredContainer>
    <div class="technology-navbar">
        <FlexRowContainer Width="80" JustifyContent="Enums.JustifyContent.SpaceBetween">
            <TechnologyNavItem TechnologyType="TechnologyType.Biotic" OnClick="() => OnTechnologyTypeClick(TechnologyType.Biotic)" ColorClass="green" />
            <TechnologyNavItem TechnologyType="TechnologyType.Propulsion" OnClick="() => OnTechnologyTypeClick(TechnologyType.Propulsion)" ColorClass="blue" />
            <TechnologyNavItem TechnologyType="TechnologyType.Cybernetic" OnClick="() => OnTechnologyTypeClick(TechnologyType.Cybernetic)" ColorClass="yellow" />
            <TechnologyNavItem TechnologyType="TechnologyType.Warfare" OnClick="() => OnTechnologyTypeClick(TechnologyType.Warfare)" ColorClass="red" />
            <TechnologyNavItem TechnologyType="TechnologyType.UnitUpgrade" OnClick="() => OnTechnologyTypeClick(TechnologyType.UnitUpgrade)" ColorClass="white" />
            <TechnologyNavItem TechnologyType="TechnologyType.Faction" OnClick="() => OnTechnologyTypeClick(TechnologyType.Faction)" ColorClass="purple" />
        </FlexRowContainer>
    </div>
</FlexColumnCenteredContainer>
