@using TwilightImperiumUltimate.Web.Helpers.Resources

<div class="handel white shadow" style="width: 100%;">
    <h1>@GetTransformedRuleId() - @TransformedRuleTitle</h1>
    <br />
    <div class="markup-text">@TransformedRuleContent</div>
    <br />
</div>

