#account-menu {
    position: absolute;
    top: 0;
    right: 1%;
    min-width: 20%;
}

@media (max-width: 970px) {
    #account-menu {
        position: relative;
        top: 0;
        right: 1%;
        width: 100%;
        display: flex;
    }
}

.space {
    align-self: center;
    min-width: 20px !important;
}

#main-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 30px;
    min-height: 30px;
    align-self: center;
    min-width: 50%;
}

.menu-item {
    position: relative;
    min-width: 5%;
    text-align: center;
    margin: 0 18px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    flex-grow: 1;
    flex-shrink: 1;
}

    .menu-item a {
        color: white;
        font-family: Handel, fallback, sans-serif;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 0px 2px 6px rgba(0, 0, 0, 1), 2px 0px 6px rgba(0, 0, 0, 1), 0px -2px 6px rgba(0, 0, 0, 1), -2px 0px 6px rgba(0, 0, 0, 1), 1px 1px 6px rgba(0, 0, 0, 1), 1px -1px 6px rgba(0, 0, 0, 1), -1px 1px 6px rgba(0, 0, 0, 1), -1px -1px 6px rgba(0, 0, 0, 1);
    }

.dropdown {
    position: absolute;
    top: 120%;
    left: calc(-50% + 50% * 0.5);
    width: 150%;
    z-index: 1000;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;
}

    .dropdown:hover {
        display: block;
        animation: none;
    }

    .dropdown a {
        font-size: 14px;
        background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.6) 10%, rgba(0,0,0,0.6) 90%, rgba(0,0,0,0));
        color: white;
        display: block;
        text-decoration: none;
        white-space: nowrap;
        margin-top: 3px;
        margin-bottom: 1px;
    }

        .dropdown a:hover {
            font-size: 16px;
        }

.menu-container {
    position: relative;
    font-size: 22px;
}

    .menu-container:hover .dropdown {
        opacity: 1;
        visibility: visible;
    }
