@using TwilightImperiumUltimate.Web.Pages;

<div class="header-space">
    <a class="header-logo-link" href="@Pages.Index">
        <img class="header-logo" src="resources/images/shared/Twilight_imperium_ultimate_logo.png" alt="Twilight Imperium Ultimate" />
    </a>
    <MainNavigation />
</div>
