.header-space {
    align-self: center;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.header-logo {
    object-fit: contain;
    display: block;
    width: 100%;
    max-width: 37.5rem;
    align-self: center;
}

.header-logo-link {
    align-self: center;
    margin-top: var(--space-md);
    margin-bottom: var(--space-md);
}

@media (max-width: 768px) {
    .header-logo {
        max-width: 32rem;
    }
}

@media (max-width: 576px) {
    .header-logo {
        max-width: 26rem;
    }

    .header-logo-link {
        margin-top: var(--space-sm);
        margin-bottom: var(--space-sm);
    }
}