<div class="page">
    <StretchHeightContainer>
        <FlexColumnCenteredContainer Width="100">
            <div class="page-tempalte page-template-width">
                @ChildContent
            </div>
        </FlexColumnCenteredContainer>
    </StretchHeightContainer>
</div>


