<div class="page">
    <div class="page-padding">
        <StretchHeightContainer>
            <FlexColumnCenteredContainer>
                @ChildContent
            </FlexColumnCenteredContainer>
        </StretchHeightContainer>
    </div>
</div>


