.page {
    width: 100%;
}

.page-template {
    display: flex;
    flex-direction: column;
    justify-content: center; /*main-axis*/
    justify-items: center; /*main-axis*/
    align-items: center; /*cross-axis*/
}

.page-template-width {
    width: 80% !important;
}

@media (max-width: 1024px) {
    .page-template-width {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .page-template-width {
        width: 100% !important;
    }
}

@media (max-width: 576px) {
    .page-template-width {
        width: 100% !important;
    }
}
