<div class="page">
    <StretchHeightContainer>
        <ResponsiveContainer Type="centered" Padding="none" CssClass="page-template page-template-width">
                @ChildContent
        </ResponsiveContainer>
    </StretchHeightContainer>
</div>


