@if (_newVersionAvailable)
{
    <section class="update-notify-wrapper" role="status" aria-live="polite">
        <ResponsiveContainer Type="fluid" Padding="sm">
            <FlexColumnCenteredContainer CssClass="update-notify-content" Width="100">
                <ResponsiveText Text="@Strings.Update_Notification" CssClass="update-notify-text handel white shadow" FontSize="sm" CenterText="true" />
                <ResponsiveVerticalSpacer Size="sm" />
                <ResponsiveButton Text="@Strings.ButtonText_Reload" CssClass="update-notify-button" OnClickMouse="ReloadPage" />
            </FlexColumnCenteredContainer>
        </ResponsiveContainer>
    </section>
}
