@inherits BaseMap

<div class="container">

    @if (GeneratedPositionsWithSystemTiles is not null
    && GeneratedPositionsWithSystemTiles.Keys.Count() == MapPositions.Count())
    {
        foreach (var mapPosition in MapPositions)
        {
            CurrentSystemTile = GeneratedPositionsWithSystemTiles[mapPosition];

            <div class="hex">
                <MapHexTile SystemTile="CurrentSystemTile"
                            MapPosition="mapPosition"
                            SwappedTwoSystemTiles="RefreshAfterSwap" />
            </div>
        }
    }

</div>