<FlexColumnCenteredContainer>

    <div class="slice-grid">
        @{
            int position = 0;
        }
        @foreach(var systemTile in SliceModel.SystemTiles)
        {

            <div class="hex">
                <SliceHex SystemTile="systemTile" SliceId="SliceModel.Id" SlicePosition="position" />
            </div>
            position++;
        }

    </div>

    <VerticalSpace Height="100" />

    <SliceEvaluationStats SliceModel="SliceModel" />

</FlexColumnCenteredContainer>
